.vernagir{
        font-size: 50px;
        display: flex; justify-content: center;
        margin: auto;
        color: orangered    


}
body{   
    background-color: bisque;
}
.nkarner{

        display: flex; align-items: center;
}
img{
    max-width: 32%;
    margin-left: 10px;
    margin-top: 5px;
}
li{
    font-size: 30px;
}